.what{
    width: 100%;
    height: 50vh;
    /* background-image: url("../img/solar-panel-cell-on-dramatic-sunset-sky-background-free-photo.jpg"); */
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
}
